@font-face {
  font-family: 'PT Root UI';
  src: local('Ptrootuimedium'),
  url('/src/fonts/Ptrootuimedium.woff2') format('woff2'),
  url('/src/fonts/Ptrootuimedium.woff') format('woff'),
  url('/src/fonts/Ptrootuimedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src: local('Ptrootuilight'),
  url('/src/fonts/Ptrootuilight.woff2') format('woff2'),
  url('/src/fonts/Ptrootuilight.woff') format('woff'),
  url('/src/fonts/Ptrootuilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src: local('Ptrootui'),
  url('/src/fonts/Ptrootui.woff2') format('woff2'),
  url('/src/fonts/Ptrootui.woff') format('woff'),
  url('/src/fonts/Ptrootui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root UI';
  src: local('Ptrootuibold'),
  url('/src/fonts/Ptrootuibold.woff2') format('woff2'),
  url('/src/fonts/Ptrootuibold.woff') format('woff'),
  url('/src/fonts/Ptrootuibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldCondIt'),
  url('/src/fonts/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldCondIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldCondIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackIt'),
  url('/src/fonts/MyriadPro-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightIt'),
  url('/src/fonts/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackCond'),
  url('/src/fonts/MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackCond.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackCond.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Cond'),
  url('/src/fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Cond.woff') format('woff'),
  url('/src/fonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Bold'),
  url('/src/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Bold.woff') format('woff'),
  url('/src/fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldIt'),
  url('/src/fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldSemiCnIt'),
  url('/src/fonts/MyriadPro-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldSemiCnIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldSemiCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-CondIt'),
  url('/src/fonts/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-CondIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-CondIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightCond'),
  url('/src/fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightCond.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightCond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiCn'),
  url('/src/fonts/MyriadPro-SemiCn.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiCn.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiCnIt'),
  url('/src/fonts/MyriadPro-SemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiCnIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiCnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldCond'),
  url('/src/fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldCond.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldCond.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightSemiExtIt'),
  url('/src/fonts/MyriadPro-LightSemiExtIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightSemiExtIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightSemiExtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Semibold'),
  url('/src/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Semibold.woff') format('woff'),
  url('/src/fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Black'),
  url('/src/fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Black.woff') format('woff'),
  url('/src/fonts/MyriadPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Regular'),
  url('/src/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Regular.woff') format('woff'),
  url('/src/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightSemiCn'),
  url('/src/fonts/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightSemiCn.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightSemiCn.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackCondIt'),
  url('/src/fonts/MyriadPro-BlackCondIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackCondIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackCondIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightCondIt'),
  url('/src/fonts/MyriadPro-LightCondIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightCondIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightCondIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightSemiExt'),
  url('/src/fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightSemiExt.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackSemiCnIt'),
  url('/src/fonts/MyriadPro-BlackSemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackSemiCnIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackSemiCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldCondIt'),
  url('/src/fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldCondIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldCond'),
  url('/src/fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldCond.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldSemiExtIt'),
  url('/src/fonts/MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldSemiExtIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldSemiExtIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldSemiCn'),
  url('/src/fonts/MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldSemiCn.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldSemiCn.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackSemiExtIt'),
  url('/src/fonts/MyriadPro-BlackSemiExtIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackSemiExtIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackSemiExtIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldSemiExtIt'),
  url('/src/fonts/MyriadPro-SemiboldSemiExtIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldSemiExtIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldSemiExtIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-LightSemiCnIt'),
  url('/src/fonts/MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-LightSemiCnIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-LightSemiCnIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldSemiCn'),
  url('/src/fonts/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldSemiCn.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldSemiCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldSemiCnIt'),
  url('/src/fonts/MyriadPro-SemiboldSemiCnIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldSemiCnIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldSemiCnIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldIt'),
  url('/src/fonts/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-It'),
  url('/src/fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-It.woff') format('woff'),
  url('/src/fonts/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BoldSemiExt'),
  url('/src/fonts/MyriadPro-BoldSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BoldSemiExt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BoldSemiExt.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-Light'),
  url('/src/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-Light.woff') format('woff'),
  url('/src/fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiboldSemiExt'),
  url('/src/fonts/MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiboldSemiExt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiboldSemiExt.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiExtIt'),
  url('/src/fonts/MyriadPro-SemiExtIt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiExtIt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiExtIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackSemiCn'),
  url('/src/fonts/MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackSemiCn.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackSemiCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-BlackSemiExt'),
  url('/src/fonts/MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-BlackSemiExt.woff') format('woff'),
  url('/src/fonts/MyriadPro-BlackSemiExt.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: local('MyriadPro-SemiExt'),
  url('/src/fonts/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/MyriadPro-SemiExt.woff') format('woff'),
  url('/src/fonts/MyriadPro-SemiExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src: local('GTEestiProDisplay-Bold'),
  url('/src/fonts/GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/GTEestiProDisplay-Bold.woff') format('woff'),
  url('/src/fonts/GTEestiProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: local('GTEestiProDisplay-Medium'),
  url('/src/fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/GTEestiProDisplay-Medium.woff') format('woff'),
  url('/src/fonts/GTEestiProDisplay-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src: local('GTEestiProDisplay-Thin'),
  url('/src/fonts/GTEestiProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/GTEestiProDisplay-Thin.woff') format('woff'),
  url('/src/fonts/GTEestiProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
